/* INTRO (HEADER) */

.soccer-header
{
    text-align:center;
    margin-bottom:30px;
}

.soccer-header h1
{
    color:#163aaf;
    font-weight:700;
    font-size:2.2rem;
}

.soccer-header p
{
    color:#555;
    max-width:600px;
    margin:0 auto;
}

/* SOCCER PAGE LAYOUT */

.soccer-layout
{
    display:flex;
    gap:30px;
    padding:20px 40px 40px 40px;

}

/* MAIN CONTENT */

.soccer-main{

    flex:3;
}

/* SIDEBAR */

.soccer-sidebar
{
    flex:1;
    background:#155dfc;
    padding:30px;
    border-radius:12px;
    align-self:flex-start;
}

/* MAIN SOCCER SECTIONS */

.soccer-section
{
    display:flex;
    gap:25px;
    background:white;
    padding:20px;
    border-radius:12px;
    margin-bottom:30px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    align-items:center;
}

.soccer-section.reverse
{
    flex-direction:row-reverse;
}

.soccer-img
{
    width:260px;
    height:320px;
    object-fit:cover;
    object-position:top;
    border-radius:10px;
    flex-shrink:0;
}

/* TEXT */

.soccer-text
{
    text-align:center;
}

.soccer-text h1,
.soccer-text h2
{
    color:#163aaf;
    font-weight:700;
    margin-bottom:12px;
}

/* SIDEBAR CARDS */

.soccer-card
{
    background:white;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.soccer-card h3
{
    color:#163aaf;
    font-weight:700;
    text-align:center;
    margin-bottom:10px;
}

.soccer-card p
{
    text-align:center;
}

.sidebar-soccer-img
{
    width:100%;
    border-radius:8px;
    margin-bottom:10px;
}


/* TABLET SCREEN (768px) */


@media (max-width:768px)
{

.soccer-layout
{
    flex-direction:column;
}

.soccer-section,
.soccer-section.reverse
{
    flex-direction:column;
}

.soccer-img
{
    width:100%;
    height:auto;
}

.soccer-sidebar
{
    width:100%;
}

}


/* MOBILE SCREEN (425px) */


@media (max-width:425px)
{

.soccer-layout
{
    padding:20px;
}

.soccer-header h1
{
    font-size:1.8rem;
}

.soccer-card
{
    padding:15px;
}

.soccer-img
{
    width:100%;
    height:auto;
}

}